body {
    font-family: 'Gaegu', cursive;
    font-size: 22px;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: 'Pangolin', cursive;
    font-size: 55px;
    font-weight: bold;
    color: #BDB2FF;
}

h2 {
    font-family: 'Pangolin', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #FFC6FF;
}

.button1 {
    align-self: center;
    background-color: #CAFFBF;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button1:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button2 {
    align-self: center;
    background-color: #A0C4FF;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button2:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button2:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button3 {
    align-self: center;
    background-color: #FFADAD;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button3:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button3:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* unvisited link */
a:link {
    color: #FFADAD;
}

/* visited link */
a:visited {
    color: #BDB2FF;
}

/* mouse over link */
a:hover {
    color: #FFC6FF;
}

/* selected link */
a:active {
    color: #FFD6A5;
}

nav-link:hover {
    color: #FFC6FF !important;
}

label {
    font-weight: bold;
}