{% extends "base.html" %}

{% block content %}
{% if user and user.secret_number %}
<h3>Guess a random number between 1 and 30.</h3>
<br>
    <form method="post" action="/result">
        <input type="text" class="form-control" name="guess" placeholder="Enter your guess">
        <br>
            <div class="d-grid gap-3 col-6 mx-auto mt-2">
                <button class="button1" type="submit">Submit</button>
            </div>
    </form>
{% else %}
<h2>LOG-IN</h2>
<br>
    <form method="post" action="/login">
        <input type="text" class="form-control" name="user-name" placeholder="NAME">
        <br>
        <input type="email" class="form-control" name="user-email" placeholder="EMAIL">
        <br>
        <input type="password" class="form-control" name="user-password" placeholder="PASSWORD">
        <br>
            <div class="d-grid gap-2 col-6 mx-auto mt-2">
                <button class="button1" type="submit">Submit</button>
            </div>
    </form>
{% endif %}
{% endblock content %}
