{% extends "base.html" %}

{% block content %}
<br>
<h2>EDIT PROFILE</h2>
<br>
<form method="post">
    <p>
        <label class="form-label">Your name: </label>
        <input type="text" class="form-control" name="name" value="{{ user.name }}">
    </p>
    <p>
        <label class="form-label">Your email: </label>
        <input type="email" class="form-control" name="email" value="{{ user.email }}">
    </p>
    <p>
        <label class="form-label">Your password: </label>
        <input type="password" class="form-control" name="password" value="{{ user.password }}">
    </p>

        <div class="d-grid gap-3 col-6 mx-auto mt-2">
            <button class="button2" type="submit">Submit</button>
        </div>
</form>
{% endblock content %}